.userPost{
    margin-bottom: 3%;
}

.postBtn{
    padding-bottom: 10%;
}

.postImage{
    height: 400px;
    width : 400px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 5%;
    
    

}

.postcontent{
    padding-left: 5%;
    padding-right: 5%;
}